.detail-card {
    max-width: 60rem;
}

.detail {
    border: #0000ff solid !important;
}

.detail-body {
    border-top: none;
    margin-top: 0.5rem;
}

.detail-title {
    font-size: 2rem;
    font-weight: bolder;
}

.detail-description {
    color: #818181;
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

.detail-category {
    font-size: 1.5rem;
    font-weight: bold;
}

.detail-price {
    color: #0b950b;
    font-size: 2rem;
    font-weight: bold;
}

.detail-img {
    border: #0000ff solid !important;
    display: flex;
}