.navbar {
    position: fixed;
}

.navbar-collapse {
    justify-content: center;
}

.navbar-brand {
    font-weight: bolder;
}

.nav-link {
    color: #616161;
}

.nav-link:hover {
    transition: 1s;
    transform: scale(1.2);
}

.navbar-nav {
    font-weight: bold;
    gap: 2rem;
}

.navbar button {
    background: none;
    border: 0;
    color: #ffffff;
}
