.itemCount {
  text-align: center;
}

.botonAgregarAlCarrito {
  margin-top: 0.5rem;
  font-weight: bolder !important;
}

.input-group {
    justify-content: center;
}

.botonItemCount {
 font-weight: bolder;
}

.inputItemCount {
    text-align: center;
    border-color: #0d6efd;
}